WebServicesReservas/Service References/ServicioSopListaReservas/ListaReservasWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaReservasGenerales">
        <s:complexType />
      </s:element>
      <s:element name="ListaReservasGeneralesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaReservasGeneralesResult" type="tns:ArrayOfTblListaReservas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTblListaReservas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tblListaReservas" nillable="true" type="tns:tblListaReservas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblListaReservas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFinal" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Costo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroHabitacion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipohabitacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaReservasClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaReservasClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaReservasClientesResult" type="tns:ArrayOfTblListaReservas" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaReservasGeneralesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaReservasGenerales" />
  </wsdl:message>
  <wsdl:message name="ListaReservasGeneralesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaReservasGeneralesResponse" />
  </wsdl:message>
  <wsdl:message name="ListaReservasClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaReservasClientes" />
  </wsdl:message>
  <wsdl:message name="ListaReservasClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaReservasClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="ListaReservasWebSoap">
    <wsdl:operation name="ListaReservasGenerales">
      <wsdl:input message="tns:ListaReservasGeneralesSoapIn" />
      <wsdl:output message="tns:ListaReservasGeneralesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaReservasClientes">
      <wsdl:input message="tns:ListaReservasClientesSoapIn" />
      <wsdl:output message="tns:ListaReservasClientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListaReservasWebSoap" type="tns:ListaReservasWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaReservasGenerales">
      <soap:operation soapAction="http://tempuri.org/ListaReservasGenerales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaReservasClientes">
      <soap:operation soapAction="http://tempuri.org/ListaReservasClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListaReservasWebSoap12" type="tns:ListaReservasWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaReservasGenerales">
      <soap12:operation soapAction="http://tempuri.org/ListaReservasGenerales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaReservasClientes">
      <soap12:operation soapAction="http://tempuri.org/ListaReservasClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListaReservasWeb">
    <wsdl:port name="ListaReservasWebSoap" binding="tns:ListaReservasWebSoap">
      <soap:address location="http://localhost:4383/WebServices/ListaReservasWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ListaReservasWebSoap12" binding="tns:ListaReservasWebSoap12">
      <soap12:address location="http://localhost:4383/WebServices/ListaReservasWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>